body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.navbar-brand {
    font-family: "Kaushan Script";
    color: #fed136;
}

.navbar-brand:hover{
    color: #fed136;
}

#mainNav {
  background-color: #689F38; }

#navbarDropdownPortfolio {
    color: #ffffff;
}

.page-link {
    color: #000000;
}

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: #fed136; }

.terminos{
    color: #fed136;
}

.terminos:hover{
    color: #fed136;
}

/*boton de listado de precios*/

.btn-xl {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  border-color: #fed136;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .btn-xl.focus, .btn-xl:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
  .btn-xl:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
  .btn-xl.active, .btn-xl:active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
    .btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover,
    .open > .btn-xl.dropdown-toggle.focus,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle:hover {
      color: white;
      border-color: #b48b01;
      background-color: #dcab01; }
  .btn-xl.active, .btn-xl:active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled.focus, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled].focus, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
  fieldset[disabled] .btn-xl.focus,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl:hover {
    border-color: #fed136;
    background-color: #fed136; }
  .btn-xl .badge {
    color: #fed136;
    background-color: white; }
